*, *:before, *:after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 900px;
  padding-top: 100px;
}

header {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, 35px);
  grid-template-columns: 900px;
  margin-top: 20px;
}

.grid-container__item {
  display: grid;
  grid-template-rows: 35px;
  grid-template-columns: repeat(6, 150px);
}

.grid-container__item div {
  border: 1px solid black;
  font-size: 14px;
  position: relative;
}

.up::after {
  content: "▲"
}

.down::after {
  content: "▼"
}

.active {
  background-color: lightskyblue;
}

.info {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 10px;
}


